@media screen and (min-width: 660px){

    .messages li {
        width: calc(50% - .5rem);
        margin: .25rem;
    }

}

@media screen and (min-width: 1024px){
    .messages li {
        width: 32.3333%
    }
}

@media screen and (min-width: 1280px){
    section {
        padding: 0;
    }
}